# dependencies
node_modules/
.pnp/
.pnp.js

# local env
.env*.local

# build
.next/
out/
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
